# Python cache
__pycache__/
*.py[cod]

# Test and coverage artifacts
.coverage
coverage.xml
.pytest_cache/

# Virtual environments
.venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

